{% load static %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet"/>
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css2?family=Rubik&amp;display=swap" rel="stylesheet"/>
  <link href="{% static 'main.css' %}" rel="stylesheet"/>
  <title>
   Login
  </title>
 </head>
 <body>
  <div class="home-wrapper">
   <div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-custom bg-transparent sticky-top">
     <a class="navbar-brand" href="homepage.html">
      <img alt="AudioCate Logo" src="{% static './images/AudioCate-removebg-preview.png' %}" width="75px"/>
      AudioCate
     </a>
     <div class="collapse navbar-collapse" id="nav_collapse">
      <ul class="navbar-nav ml-auto bg-custom">
       <li class="navbar-item">
        <a class="nav-link" href="homepage.html">
         Home
        </a>
       </li>
       <li class="navbar-item">
        <a class="nav-link" href="#">
         Contact Us
        </a>
       </li>
      </ul>
     </div>
    </nav>
    <div class="login-container">
     <img alt="reader" class="hero" src="{% static './images/male-reader.jpg' %}" width="100px"/>
     <form class="user-login" method="POST">
      {% csrf_token %}
      <h1 class="header-text">
       User Login
      </h1>
      <div class="email-input">
       <i class="fa">
       </i>
       <input class="container-fluid" name="email" placeholder="Email" type="email"/>
      </div>
      <div class="password-input">
       <input class="container-fluid" min="6" name="password" placeholder="Password" type="password"/>
      </div>
      <div class="login">
       <input class="container-fluid" type="submit" value="LOGIN"/>
      </div>
      {{message}}
      <div class="recovery">
       <a href="#">
        Forgot Password
       </a>
      </div>
      <div class="sign-up">
       <p class="sign-up">
        Don't have an account?
        <a href="register.html">
         Sign Up
        </a>
       </p>
      </div>
     </form>
    </div>
   </div>
  </div>
  <footer class="footer" id="footer">
  </footer>
  <script crossorigin="anonymous" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" src="https://code.jquery.com/jquery-3.4.1.slim.min.js">
  </script>
  <script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">
  </script>
  <script crossorigin="anonymous" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
  </script>
  <script src="{% static 'saucecode.js' %}">
  </script>
 </body>
</html>
